<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改页面</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/layer-v3.1.1/layer/layer.js"></script>
    <style>
        img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="form-group">
            <label>选择图片</label>
            <input type="file" class="form-control" id="carImg" />
            <img src="../<%=list.imgname%>" alt="" id="img">
        </div>
        <div class="form-group">
            <label for="carname">汽车名字</label>
            <input type="text" class="form-control" id="carname" placeholder="请输入汽车名字" value="<%=list.carname%>">
        </div>
        <div class="form-group">
            <label>车主</label>
            <select name="" id="selectuser" class="form-control" data-id="<%=list._id%>">
                <option value="<%=list.p._id%>"><%=list.p.username%></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <script>
        // 图片上传
        $('#carImg').change(function () {
            var imginfor = $('#carImg').get(0).files[0];
            var formdata = new FormData();
            formdata.append('avatar', imginfor)
            $.ajax({
                type: 'post',
                url: "http://localhost:7777/upload",
                data: formdata,
                async: true,  //异步
                cache: false,   //缓存
                contentType: false, //发给服务端的数据格式
                processData: false, //进度条
                success: function (data) {
                    if (data.code === 200) {
                        $('#img').attr('src', "../"+data.path)
                    }
                },
            })
        })
        // selection渲染
        $('#selectuser').one('click',function(){
            var id = $('select').attr('data-id');
            $.get('http://localhost:7777/click').then(res=>{
                var list=null;
                if(res.list){
                    list = res.list;
                }
                var str="";
                for(var i =0;i<list.length;i++){
                    str+=`
                        <option value="${list[i]._id}">${list[i].username}</option>
                    `;
                }
                $("#selectuser").append(str);
            })
        })
        // 修改
        $('button').click(function () {
            var id = $('select').attr('data-id');
            // console.log(id);
            var carname = $('#carname').val();
            var username = $('#selectuser').val();
            var imgname = $('#img').attr('src');
            console.log(username)
            $.ajax({
                type:'put',
                url:'http://localhost:7777/doEdit',
                data:{
                    id,
                    carname,
                    username,
                    imgname
                },
                success:function(data){
                    if (data.code === 200) {
                        layer.msg(data.msg,{icon:1});
                        location.href = '/'
                    }
                }
            })
        })
    </script>
</body>

</html>